<title><%= title %> ></title>
<% scripts.forEach(function(s) { %>
	<script type="text/javascript" src="<%= s %>"></script>
<% }); %>
<% stylesheets.forEach(function(l) { %>
	<link type="text/css" rel="stylesheet" href="<%= l %>">
<% }); %>
