<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/myEvents"><span class="glyphicon glyphicon-user"></span> My Events</a>
      </li>
   	 <li>
        <a href="/event_list"><span class="glyphicon glyphicon-user"></span> View All Events</a>
      </li>
     <li>
        <a href="/login"><span class="glyphicon glyphicon-user"></span> Logout</a>
      </li>
    </ul>
  </div>
</nav>
