<div class="modal level1" id="savingChanges" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
        	<div class = "center">
			<span>Please wait while we save your changes...</span>
          	</div>
        </div>
      </div>
    </div>
</div>

