
	<form method="post" action="/addEvents">
		<p>Performer <input type="text" name="performer" maxlength="15" /></p>
		<p>Location <input type="text" name="loc" maxlength="45" /></p>
		<p>Start Time <input type="text" name="start_t"/></p>
		<p>End Time <input type="text" name="finish_t"/></p>
		<p><input type="submit"/> <input type="reset" /></p>
	</form>

